.tabs {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 450px;

  padding: 24px 32px;
  border: 1px solid #f1f1f1;
  background-color: #fff;
  box-shadow: 0px 2px 24px 0px rgba(0, 0, 0, 0.1);

  margin: 80px 0;
}

.tab-list {
  display: flex;

  padding-bottom: 24px;
}

.tab-progress {
  position: absolute;
  left: -1px;
  right: -1px;
  top: 66px;
  height: 4px;
  z-index: 0;

  background-color: #492796;
  transform-origin: 0%;
}

.tab {
  cursor: pointer;
  border: none;
  font-size: 16px;
  line-height: 24px;
  padding: 8px 16px;
  color: #492796;
  border: 1px solid #f1f1f1;
  box-shadow: 0px 2px 16px 0px rgba(0, 0, 0, 0.1);
  margin-right: 24px;

  transition: color 0.16s ease-in-out, background-color 0.16s ease-in-out,
    border-color 0.16s ease-in-out;
}

.tab:focus {
  box-shadow: 0 0 0 4px rgba(73, 39, 150, 0.5);
}

.tab.active {
  background-color: #492796;
  border-color: #492796;
  color: white;
  cursor: default;
}

.panel-list {
  list-style: none;
  margin: 0;
  padding: 0;

  position: relative;
}

.panel {
  position: absolute;
}
